{% extends "_base.html" %}

{% block nav %}{% endblock nav %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Embed</h1>
            <label for="frontline">For Frontline:</label>
            <textarea name="frontline" cols="20" rows="8" class="form-control">
<div id="{{ name }}-embed"></div>
<script src="http://{{ BUCKETS.production }}/bower_components/pym.js/dist/pym.min.js"></script>
<script>
var pymParent = new pym.Parent('{{ name }}-embed', 'http://{{ BUCKETS.production }}/');
pymParent.iframe.onload = function() {
    pymParent.sendMessage('is_frontline', true);
}
</script>
</textarea>
            <hr>
            <label for="offsite">Public embed:</label>
            <textarea name="offsite" cols="30" rows="3" class="form-control">
<div data-pym-src="http://{{ BUCKETS.production }}/"></div>
<script src="http://{{ BUCKETS.production }}/bower_components/pym.js/dist/pym.min.js"></script>
</textarea>
        </div>
    </div>
</div>
{% endblock content %}