{% extends "_base.html" %}

{% block nav %}{% endblock %}

{% block content %}
<header class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>{{ title }}</h1>
			<p class="deck text-muted">
				{{ deck|safe }}
				<span class="glyphicon glyphicon-share-alt"></span>
				<a href="#embed-modal" class="show-embed" data-toggle="modal" data-target="#embed-modal">Embed this on your own site.</a>
			</p>
		</div>
	</div>
</header>

<div class="content container">
	<div class="row">
		<div class="col-xs-12"></div>
	</div>
</div>

{% endblock content %}

